@model Product

@{
    Layout = "_AdminLayout";
}

<div style="margin: 0 auto;" class="container-md">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="@(Model == null ? "Create" : "Edit")" method="post" enctype="multipart/form-data">        
        @if (Model != null)
        {
            <input type="hidden" asp-for="ProductId" readonly />
        }       
        <div class="form-group position-relative">
            <label asp-for="Name" class="form-check-label"></label>
            <div><span asp-validation-for="Name" class="text-danger "></span></div>
            <input asp-for="Name" class="form-control" />
            <div class="position-absolute check-green" id="Name" style="max-height: 20px; max-width: 20px; right: -25px; top: 47%; visibility:hidden">
            <img style="max-height: 20px; max-width: 20px;" src="https://icon-icons.com/icons2/1380/PNG/32/vcsnormal_93488.png" alt="Ok" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="form-check-label"></label>
            <select class="form-control" asp-for="CategoryId">
                @foreach (var c in ViewBag.Categories)
                {
                    <option selected=@(Model?.Category?.CategoryId == c.CategoryId)
                            value="@c.CategoryId">
                        @c.Name
                    </option>
                }

            </select>
        </div>
        <div class="form-group position-relative">
            <label asp-for="Price" class="form-check-label"></label>
            <div><span asp-validation-for="Price" class="text-danger"></span></div>
            <input asp-for="Price" type="number" class="form-control" />
            <div class="position-absolute check-green" id="Price" style="max-height: 20px; max-width: 20px; right: -25px; top: 47%; visibility:hidden">
                <img style="max-height: 20px; max-width: 20px;" src="https://icon-icons.com/icons2/1380/PNG/32/vcsnormal_93488.png" alt="Ok" />
            </div>
        </div>
        <div class="form-group position-relative">
            <label asp-for="Description" class="form-check-label"></label>
            <div><span asp-validation-for="Description" class="text-danger"></span></div>
            <input asp-for="Description" class="form-control" />
            <div class="position-absolute check-green" id="Description" style="max-height: 20px; max-width: 20px; right: -25px; top: 47%; visibility:hidden">
                <img style="max-height: 20px; max-width: 20px;" src="https://icon-icons.com/icons2/1380/PNG/32/vcsnormal_93488.png" alt="Ok" />
            </div>
        </div>
        <div class="form-group">
            <label class="btn btn-outline-info" for="Picture">
                <input asp-for="Picture" type="file" style="display:none;"
                       onchange="$('#upload-file-info').html(this.files[0].name)">
                + Add Picture
            </label>
            <span class='label label-info' id="upload-file-info"></span>

        </div>
        <div class="text-center">
            @if (Model == null)
            {
                <button class="btn btn-outline-success" type="submit">Add Product</button>
            }
            else
            {
                <button class="btn btn-outline-success" type="submit">Save Product</button>
            }
        </div>
    </form>
</div>