<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="bg-success text-center p-1 text-white"><h1>eCommerce</h1></div>
    <div class="d-flex">
        <div class="sidebar w-25">There will be something here soon</div>
        <div class="content w-75">
            @RenderBody()
        </div>
    </div>    
</body>
</html>
