<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title - eCommerce</title>
    <style>
        li
        {
            margin-right: 20px;
        }
        li:last-child
        {
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="bg-success text-center p-1 text-white">
        <div class="container">
            <div class="d-flex justify-content-between position-relative text-center align-items-center">
                @if (TempData["Message"] != null)
                {
                    <span style="transform: translate3d(50%,0,0);" class="alert alert-primary text-center m-0 position-absolute">@TempData["Message"]</span>
                }
                <div class="head-logo">
                    <a asp-controller="Product" asp-action="List" class="text-white"><h1>eCommerce</h1></a>
                </div>
                <div class="head-body" style="height: 80px;">
                    <ul class="d-flex align-items-center list-unstyled">
                        <li>                            
                            @await Component.InvokeAsync(nameof(ShoppingCart))                          
                        </li>
                        <li>
                            @await Component.InvokeAsync(nameof(ExchengeRate))
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="List"
                               class="btn btn-sm btn-primary">Admin panel</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.alert').delay(3000).fadeOut(500);           
        });       
    </script>
</body>
</html>
