<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title - eCommerce</title>
</head>
<body>
    <div class="bg-success text-center p-1 text-white"><h1>eCommerce</h1></div>          
        <div>
            @RenderBody()
        </div>
        
</body>
</html>
