@model Category

@{
    Layout = "_AdminLayout";
}

<div style="margin: 0 auto;" class="container-md">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="@(Model == null ? "Create" : "Edit")" method="post">
        @if (Model != null)
        {
            <input type="hidden" asp-for="CategoryId" />
        }        
        <div class="form-group">
            <label asp-for="Name" class="form-check-label"></label>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="form-check-label"></label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="text-center">
            @if (Model == null)
            {
                <button class="btn btn-outline-success" type="submit">Add Category</button>
            }
            else
            {
                <button class="btn btn-outline-success" type="submit">Save Category</button>
            }
        </div>
    </form>
</div>