@model Product

    <div class="container">
        <div class="d-flex">
            <div class="picture w-50">
                @if (Model.Picture != null)
                {
                    <img class="card-img-top" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Picture))" />
                }
                else
                {
                    <img class="card-img-top" src="https://i.pinimg.com/736x/7c/1c/a4/7c1ca448be31c489fb66214ea3ae6deb.jpg" />
                }
            </div>
            <div class="main w-50">
                <p>@Model.Name</p>
                <p>@Model.Category</p>
                <p>@Model.Description</p>
                <p>@Model.Price.ToString("C1")</p>               
            </div>
        </div>
        <div class="text-center">
            <a asp-action="List" class="btn btn-primary">Back to list</a>
        </div>       
    </div>