@model IEnumerable<Product>
<style>
    .card {
        flex: 0 1 33%;
        margin: 20px 10px;
    }
</style>

<div class="container">
    <div class="card-deck">
        @foreach (var p in Model)
        {

            @await Html.PartialAsync("_CardPartialView", p);
        }
    </div>
</div>