@model Cart

<h2>Your cart</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">₴@line.Product.Price</td>
                <td class="text-right">
                    ₴@((line.Quantity * line.Product.Price))
                </td>
                <td>
                    <a asp-action="RemoveFromCart" asp-route-productId="@line.Product.ProductId" class="btn btn-sm btn-danger">Delete</a>
                </td>  
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                ₴@Model.ComputeTotalValue()
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-action="List" asp-controller="Product">Continue shopping</a>
    @if (Model.Lines.Count() > 0)
    {
        <a class="btn btn-success" asp-action="Checkout" asp-controller="Order">Checkout</a>
    }
    else
    {
        <a class="btn btn-success disabled" asp-action="Checkout" asp-controller="Order">Checkout</a>
    }
</div>

<style>
    a.disabled {
        pointer-events: none;
        cursor: default;        
    }
</style>