@model IEnumerable<string>

<h3>Categories:</h3>    

<a class="btn btn-block @(Model.All(r => r != ViewBag.SelectedCategory) ? "btn-primary" : "btn-secondary")"
   asp-action="List"
   asp-controller="Product"
   asp-route-category="">
    All
</a>

@foreach (var category in Model)
{
    <a class="btn btn-block
       @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-secondary")"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@category">
        @category
    </a>
}