@model Cart

<a asp-action="List" asp-controller="Cart" class="btn btn-sm btn-primary d-block position-relative">
    <img style="width: 20px; height: 20px;" src="https://i1.wp.com/www.honest.media/wp-content/uploads/2016/04/Shopping-Cart.png" alt="Shopping cart" /> 
    Your cart<span class="quantity">@Model.Lines.Sum(x => x.Quantity)</span></a>

<style>
    .quantity
    {
        position: absolute;
        top: -11px;
        right: -11px;
        background-color: @(Model.Lines.Sum(x => x.Quantity) == 0 ? "#5a6268" : "red");
        border-radius: 50%;
        font-size: 15px;
        width: 22px;
        height: 22px;
        font-size: 15px;
    }
</style>